@import "tailwindcss";

@theme {
  --color-nvidia-green: #76b900;
}

body {
  background-color: #0a0a0a;
  color: white;
  min-height: 100vh;
  /* cursor: none; Default cursor is visible */
}

::selection {
  background-color: var(--color-nvidia-green);
  color: black;
}